<ul class="collection">
  {{#each legislators as |lawmaker|}}
    <li class="collection-item">
      <div>{{lawmaker.first_name}} {{lawmaker.last_name}}
        {{#if (alreadyAdded lawmaker.bioguide_id entries)}}
          {{#link-to 'legislator' lawmaker.bioguide_id class="btn-floating secondary-content waves-effect waves-light teal"}}<i class="material-icons">comment</i>{{/link-to}}
        {{else}}
          <a class="btn-floating secondary-content waves-effect waves-light teal" {{action "addLegislator" lawmaker}}><i class="material-icons">add</i></a>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>
