<p class="flow-text">
  {{fullName}} represents {{repDetails}}.
</p>
<ul>
  <li><a href={{legislator.website}}>Official Website</a></li>
  <li><a href={{legislator.contact_form}}>Official Contact Form</a></li>
</ul>
