<p class="flow-text">
  {{fullName}} {{repDetails}}.
</p>
<ul>
  <li><a href={{legislator.website}} class="teal-text">Official Website</a></li>
  <li><a href={{legislator.contact_form}} class="teal-text">Official Contact Form</a></li>
</ul>
