<h5>Find Legislators</h5>
<form class="col s12">
  <div class="input-field col s12">
    {{input id="query" value=queryZipcode type="number"}}
    <label for="query">Zip Code</label>
  </div>
  <a class="waves-effect waves-light btn" {{action "submitQuery"}}><i class="material-icons left">search</i>Find Legislators</a>
</form>
