@import 'materialize';
@import 'ember-cli-materialize';

.brand-logo {
  img {
    height: 56px;
  }
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.collection .collection-item {
  line-height: 1.85rem;
  font-size: 170%;
  .title {
    font-size: 80%;
  }
}
