<div class="row">
  <div class="col s3">
    {{current-user-tile logMeOut="logMeOut"}}
  </div>
  <div class="col s6">
    <h3>About Rate Your Representative</h3>
    <p class="flow-text">
      Rate Your Representative is a website for constuents all over the country to review and rate their federal elected officials and share insights gained from personal experience. All comments require a user account, but no restrictions will be imposed for the use of real names.
    </p>
  </div>
</div>
