<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"> <img src="assets/images/congress.png" alt="Logo" /> </a>
      <ul class="right hide-on-med-and-down">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'about'}}About Us{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>
<div class="section teal lighten-4">
  <h3 class="center-align">Rate Your Representative</h3>
  <h3 class="center-align"><small>Or Senator</small></h3>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
