{{log model}}

<div class="row">
  <div class="col s3">
    {{current-user-tile logMeOut="logMeOut"}}
  </div>
  <div class="col s9">
    {{legislator-display legislators=model.remoteLegislators entries=model.localLegislators addLegislator="addLegislator"}}
  </div>
</div>
