<div class="row">
  <div class="col s3">
    {{current-user-tile logMeOut="logMeOut"}}
  </div>
  {{!-- put another column-6 here --}}
  <div class="col s3 offset-s6">
    {{search-form newQuery="submitQuery"}}
  </div>
</div>
